<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Scraping Homework</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Web Scraping Challenge</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Mission to Mars</h1>
      <button type="button" class="btn btn-success">Scrape New Data</button>
    </div>
  </header>

  <section id="News">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Latest Mars News</h2>
           {% for new in news %}
          <p class="lead">{{ new.title }}</p>
          <p>{{ new.p }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section id="Images" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Featured Mars Image</h2>
          <img src="/static/img/PIA23515_hires.jpg" alt="mars" width="480" height="270">
        </div>
      </div>
    </div>
  </section>

  <section id="Weather" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Current Weather On Mars</h2>
          {% for w in wea %}
          <p>{{ w.wea }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section id="Facts" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Mars Facts</h2>
            <div class="container">
              <div class="row">
              <div class="col-6">
                {% for v in algo.val1 %}
                <div class="row">{{ v }}</div>
                {% endfor %}
              </div>
              <div class="col-6">
                {% for v in algo.val2 %}
                <div class="row">{{ v }}</div>
                {% endfor %}
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="Hemis">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Mars Hemispheres</h2>
              {% for hemi in hemis %}
              <p class="lead">{{ hemi.title}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Mission to Mars</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
